# Data Science Tools & Ecosystem

In this notebook, Data Science tools and Eco are summed up

Popular Data Science Languages - Python, R, SQL, Java, C++

Some of the commonly used libraries used by Data Scientists include: 

1. TensorFl. 
2. Nu . 
3. SPy. 
4. Pdas. 
5. Hatptlib. 
6Keras. 
7. SciK-Learn. 
8h. etc..;

|Data Science Tools|
|---| 
|SAS|
|Apache Hadoop| 
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This is an arithmetic example to multiply and then add integers 
(3*4)+1

13

In [5]:
#This wiLL convert 290 minutes to hours by diving by 66 
200/60

3.3333333333333335

__Objective__  
* List popular languages for Data Science  
* List popular libraries for Data Science  
* List of Well known Data Science Tools  
* How to Provide comments in the cell

## Author
Stephen Thibault